body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .personal-info {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  
  h1 {
    color: #333;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  #temperature {
    padding: 5px;
    width: 200px;
  }
  
  #calculate-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #calculate-button:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #chart-container {
    width: 500px;
    height: 300px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  